@tailwind base;
@tailwind components;
@tailwind utilities;

.van-cell {
    align-content: center;
    align-items: center;
    background: transparent !important;
}

.van-collapse-item{
    @apply bg-gray-50 rounded-2xl border border-gray-100 !important;
    .van-collapse-item__content{
        background: transparent !important;
    }
}

.van-hairline--top-bottom:after, .van-hairline-unset--top-bottom:after {
    border-width: 0 !important;
}

.van-collapse-item--border:after {
    @apply hidden;
}